[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/wikipedia"]
	path = bundle/wikipedia
	url = https://github.com/vim-scripts/wikipedia.vim.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
