[submodule "bundle/mako_highlight"]
	path = bundle/mako_highlight
	url = https://github.com/vim-scripts/mako.vim.git
[submodule "bundle/mako_indent"]
	path = bundle/mako_indent
	url = https://github.com/vim-scripts/mako.vim--Torborg.git
[submodule "bundle/json_syntax"]
	path = bundle/json_syntax
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/current-func-info"]
	path = bundle/current-func-info
	url = https://github.com/tyru/current-func-info.vim.git
[submodule "bundle/xml.vim"]
	path = bundle/xml.vim
	url = https://github.com/othree/xml.vim.git
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/wikipedia"]
	path = bundle/wikipedia
	url = https://github.com/vim-scripts/wikipedia.vim.git
[submodule "bundle/threesome"]
	path = bundle/threesome
	url = https://github.com/sjl/threesome.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "bundle/sudo"]
	path = bundle/sudo
	url = https://github.com/vim-scripts/sudo.vim.git
[submodule "bundle/fakeclip"]
	path = bundle/fakeclip
	url = https://github.com/kana/vim-fakeclip.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
